.container-datos-personales {
    margin-top: 3%;
    width: 100%;
    padding: 10px;
}

.container-datos-personales label {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.container-datos-personales input {
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    border-bottom: 5x;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #fff;
    font-weight: 900;
    width: 20%;
}

#btnRealizarPagoConTarjeta {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
}

.container-datos-personales h3 {
    color: #fff;
}