/* Estilos generales */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #ff6600;
    text-align: center;

    
  }
  
  /* Estilos de formulario */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], select, input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #cc5500;
  }
  
  /* Estilos de mensajes de error */
  input:invalid {
    border-color: #ff6666;
  }
  
  input:invalid + span::before {
    content: "⚠ ";
  }
  
  input:valid + span::before {
    content: "✔ ";
    color: #00cc66;
  }
  
  span {
    font-size: 12px;
    color: #ff6666;
    margin-left: 5px;
  }
  
  